@import "./var.css";

.App {
  background: linear-gradient(180deg,
      var(--bg-color) 0%,
      #0a0135 50%,
      var(--bg-color) 100%);
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}